.i-nav-notification {
  display: inline-block;
  height: 32px;
  width: 22px;
  background: url('assets/icons/nav-notification.png') no-repeat center center;
}

.i-nav-messages {
  display: inline-block;
  height: 21px;
  width: 26px;
  background: url('assets/icons/nav-messages.png') no-repeat center center;
}

.i-vuestic {
  display: inline-block;
  width: 129px;
  height: 15.4px;
  background: url('assets/icons/vuestic.svg') no-repeat center center;
}

.i-happy {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('assets/icons/reaction-happy-2c989.svg') no-repeat center center;
}
.i-sad {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('assets/icons/reaction-frown-7f6f9.svg') no-repeat center center;
}
.i-neutral {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('assets/icons/reaction-neutral-0e5dc.svg') no-repeat center center;
}

.i-menu-expanded {
  display: inline-block;
  width: 24px;
  height: 20px;
  background: url('assets/icons/menu-expanded.svg') no-repeat center center;
}

.i-menu-collapsed {
  display: inline-block;
  width: 24px;
  height: 20px;
  background: url('assets/icons/menu-collapsed.svg') no-repeat center center;
}

.i-vuestic-fresh {
  display: inline-block;
  width: 51px;
  height: 48px;
  background: url('assets/icons/vuestic-fresh.svg') no-repeat center center;
}

.i-vuestic-clean-code {
  display: inline-block;
  width: 56px;
  height: 50px;
  background: url('assets/icons/vuestic-clean-code.svg') no-repeat center center;
}

.i-vuestic-free {
  display: inline-block;
  width: 45px;
  height: 51px;
  background: url('assets/icons/vuestic-free.svg') no-repeat center center;
}

.i-vuestic-responsive {
  display: inline-block;
  width: 47.5px;
  height: 49px;
  background: url('assets/icons/vuestic-responsive.svg') no-repeat center center;
}

.i-vuestic-rich {
  display: inline-block;
  width: 57px;
  height: 55px;
  background: url('assets/icons/vuestic-rich.svg') no-repeat center center;
}

.i-vuestic-vue {
  display: inline-block;
  width: 55px;
  height: 47.8px;
  background: url('assets/icons/vuestic-vue.svg') no-repeat center center;
}
