<template>
    <div id="app">
        <div><video ref="video" id="video" width="640" height="480" autoplay></video></div>
        <div><button id="snap" v-on:click="capture()">Snap Photo</button></div>
        <canvas ref="canvas" id="canvas" width="640" height="480"></canvas>
        <ul>
            <li v-for="c in captures">
                <img v-bind:src="c" height="50" />
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
      name: 'DemoRecognition',
      data () {
        var apigClientFactory = require('aws-api-gateway-client').default
        var apigClient = apigClientFactory.newClient({
          invokeUrl: 'https://rekognition.us-west-2.amazonaws.com',
          accessKey: 'AKIAJLBP6JNVBXMWXM6Q',
          secretKey: '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',
          region: 'eu-east-1', // OPTIONAL: The region where the API is deployed, by default this parameter is set to us-east-1
          retryCondition: (err) => { // OPTIONAL: Callback to further control if request should be retried.  Uses axon-retry plugin.
            return err.response && err.response.status === 500
          }
        })
        apigClient.invokeApi()
        .then(function (result) {
        // This is where you would put a success callback
        }).catch(function (result) {
        // This is where you would put an error callback
        })
        return {
          video: {},
          canvas: {},
          captures: []
        }
      },
      mounted () {
        this.video = this.$refs.video
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
            this.video.src = window.URL.createObjectURL(stream)
            this.video.play()
          })
        }
      },
      methods: {
        capture () {
          this.canvas = this.$refs.canvas
          var context = this.canvas.getContext('2d').drawImage(this.video, 0, 0, 640, 480)
          this.captures.push(canvas.toDataURL('image/png'))
        }
  }

    }
</script>

<style lang="scss" scoped>
  @import "../../../sass/_variables.scss";
  @import "../../../../node_modules/bootstrap/scss/functions";
  @import "../../../../node_modules/bootstrap/scss/variables";
  @import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

  .overview-item {
    display: flex;
    align-items: center;
    height: 55px;
    margin-bottom: 3rem;
    padding-right: 1rem;
    font-size: 1.25rem;
    font-weight: bold;

    .overview-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      min-width: 85px;
      max-width: 85px;
      height: 100%;
    }
  }

  .overview-row {
    @include media-breakpoint-down(xs) {
      flex-wrap: wrap;
    }
  }

  .overview-col:first-child {
    margin-left: 2rem;
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  .explore-btn {
    margin-top: 6rem;
    margin-bottom: 1rem;
  }
  body{
        background-color: #F0F0F0;
    }
    #app {
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    #video {
        background-color: #000000;
    }
    #canvas {
        display: none;
    }
    li {
        display: inline;
        padding: 5px;
    }
    video {
  width: 100%    !important;
  height: auto   !important;
  }
</style>
