<template>
  <div class="row dashboard-info-widgets">
    <div class="col-md-6 col-xl-3">
      <vuestic-widget class="info-widget">
        <div class="info-widget-inner">
          <div class="chart-container">
           <i class="i-happy"></i>
            </div>
          <div class="stats">
            <div class="stats-number">

              <i class="ion ion-arrow-up-c text-primary stats-icon"></i>
              {{happy}}
            </div>
            <div class="stats-title">{{'dashboard.elements' | translate}}</div>
          </div>
           
        </div>
      </vuestic-widget>
    </div>
    <div class="col-md-6 col-xl-3">
      <vuestic-widget class="info-widget">
        <div class="info-widget-inner">
           <div class="chart-container">
           <i class="i-neutral"></i>
            </div>
          <div class="stats">
            <div class="stats-number">
              <i class="ion ion-arrow-down-c text-danger stats-icon"></i>
              {{neutral}}
            </div>
            <div class="stats-title">{{'dashboard.versions' | translate}}</div>
          </div>
        </div>
      </vuestic-widget>
    </div>
    <div class="col-md-6 col-xl-3">
      <vuestic-widget class="info-widget brand-danger">
        <div class="info-widget-inner">
           <div class="chart-container">
           <i class="i-sad"></i>
            </div>
          <div class="info-widget-inner has-chart">
            <div class="stats">
              <div class="stats-number">
                {{sad}}
              </div>
              <div class="stats-title">Sad</div>
            </div>
           <!-- <div class="chart-container">
              <vuestic-progress-bar type="circle" ref="circleProgress" :colorName="'white'" :backgroundColorName="'danger'"
                            :startColorName="'danger'"></vuestic-progress-bar>
            </div>-->
          </div>
        </div>
      </vuestic-widget>
    </div>
    <div class="col-md-6 col-xl-3">
      <vuestic-widget class="info-widget brand-info">
        <div class="info-widget-inner">
          <div class="stats">
            <div class="stats-number">
              <i class="ion ion-android-people stats-icon icon-wide"></i>
              {{happy+neutral+sad}}
            </div>
            <div class="stats-title">{{'dashboard.teamMembers' | translate}}</div>
          </div>
        </div>
      </vuestic-widget>
    </div>
  </div>
</template>

<script>
  const axios = require('axios')
  export default {
    name: 'dashboard-info-widgets',
    data: function () {
      return {
        data: ['0', '0', '0'],
        happy: 0,
        neutral: 0,
        sad: 0
      }
    },
    mounted () {
      var moods = ['sad|angry', 'confused|disgusted|calm|unknown', 'happy|surprised']
      moods.forEach((element, index) => {
        axios({
          method: 'get',
          url: 'https://search-rekogni-elasti-we0nqm0xze3p-oikwcqvtlyy3bq25axxy6v3y2a.us-east-1.es.amazonaws.com/rek-index/label/_search?q=' + element
        }).then(function (response) {
          if (index === 0) {
            this.sad = response.data.hits.total
          }
          if (index === 1) {
            this.neutral = response.data.hits.total
          }
          if (index === 2) {
            this.happy = response.data.hits.total
          }
         // this.data[index] = (response.data.hits.total)
          console.log(this.data)
        }.bind(this))
      })
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../sass/_variables.scss";

  .stats-number, .stats-title {
    line-height: 1;
  }

  .info-widget-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

    &.has-chart {
      justify-content: space-between;
    }

    .stats {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .stats-number {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.625rem;
    margin-bottom: 0.5rem;

    .stats-icon {
      font-size: 1.5625rem;
      position: absolute;
      top: 0.625rem;
      left: -1.25rem;

      &.icon-wide {
        left: -1.875rem;
      }
    }
  }

</style>
