<template>
  <div class="data-visualisation-tab dashboard-tab">
    <div class="row">
      <div class="col-md-6">
        <div class="chart-container">
          <vuestic-chart v-bind:data="donutChartData" type="donut"></vuestic-chart>
        </div>
      </div>
      <div class="col-md-6">
        <vuestic-data-table :apiMode="apiMode"
                    :data="tableData"
                    :tableFields="tableFields"
                    :itemsPerPage="itemsPerPage"
                    :onEachSide="onEachSide"
                    :sortFunctions="sortFunctions"
                    :paginationPath="paginationPath">
        </vuestic-data-table>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import BadgeColumn from 'components/tables/BadgeColumn.vue'
  import LocalData from 'components/vuestic-components/vuestic-datatable/data/local-data'
  import FieldsDef from './fields-definition'
  // import DonutChartData from './DonutChartData'
  import store from 'vuex-store'
  const axios = require('axios')
  let palette = store.getters.palette
  Vue.component('badge-column', BadgeColumn)
  export default {
    name: 'data-visualisation-tab',
    mounted: function () {
      var moods = ['sad|angry', 'confused|disgusted|calm|unknown', 'happy|surprised']
      this.donutChartData.datasets[0].data = []
      moods.forEach((element, index) => {
        axios({
          method: 'get',
          url: 'https://search-rekogni-elasti-we0nqm0xze3p-oikwcqvtlyy3bq25axxy6v3y2a.us-east-1.es.amazonaws.com/rek-index/label/_search?q=' + element
        }).then(function (response) {
          this.donutChartData.datasets[0].data[index] = response.data.hits.total
        }.bind(this))
      })
    },
    data () {
      return {
        donutChartData: {
          labels: ['Sad', 'Neutral', 'Happy'],
          datasets: [{
            label: 'How is the Company Doing',
            backgroundColor: [palette.info, palette.warning, palette.primary],
            data: [25, 70, 500]
          }]
        },
        apiMode: false,
        sortFunctions: FieldsDef.sortFunctions,
        tableData: LocalData.data,
        onEachSide: 1,
        tableFields: FieldsDef.tableFields,
        paginationPath: 'pagination',
        itemsPerPage: [
          {
            value: 5
          },
          {
            value: 6
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../sass/_variables.scss";
  @import "../../../../node_modules/bootstrap/scss/functions";
  @import "../../../../node_modules/bootstrap/scss/variables";
  @import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

  .chart-container {
    padding: 0 2rem;
    height: 24rem;
  }


</style>
